/* Bordered form */

body {
    align-content: center;
}
img {
  width: 60%
}
/* Full-width inputs */

.container {
    width: 60%;
    padding: 16px 15px;
    text-align: center;
    align-content: center;
    margin: 10px 100px;
}
