<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/login.css">
    <title>Hello World!</title>
  </head>
  <body>
    <div class='container'>
      <img src="../images/telefone.jpg">
      <form>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="IP">Machine IP:</label>
            <input type="text" class="form-control" id="MachineID" required onfocusout="ValidMachine()">
            <div class="valid-feedback">
              Máquina Válida
            </div>
            <div class="invalid-feedback">
              Máquina não encontrada
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="Ramal">Ramal:</label>
            <input type="text" class="form-control" id="Ramal" required disabled>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="Senha">Senha:</label>
            <input type="password" class="form-control" id="Password" required disabled>
          </div>
        </div>
        <button class="btn btn-primary btn-sm" type="submit">Submit form</button>
      </form>
    </div>
    <!-- JS -->
    <script src="../js/login.js"></script>
  </body>
</html>